@media all and (orientation : portrait) {
    @media screen and (max-width: 768px) {
        @keyframes flow {
            0% {
                z-index: 1;
                width: 200px;
                height: 200px;
                position: fixed;
                left: -260%;
                top: -180%;
                border: 2000px solid rgba(0, 0, 0, 1);
                border-radius: 100%;
            }
            25% {
                position: absolute;
                left: -240%;
                top: -120%;
                border: 2000px solid rgba(0, 0, 0, 1);
                border-radius: 100%;
            }
            50% {
                position: absolute;
                top: -190%;
                left: -230%;
                width: 200px;
                height: 200px;
                border: 2000px solid rgba(0, 0, 0, 1);
                border-radius: 100%;
            }
            75% {
                position: absolute;
                top: -150%;
                left: -200%;
                width: 200px;
                height: 200px;
                border: 2000px solid rgba(0, 0, 0, 1);
                border-radius: 100%;
            }
            100% {
                z-index: 1;
                width: 2000px;
                height: 2000px;
                position: absolute;
                top: -80%;
                left: -100%;
                border: 0px solid rgba(0, 0, 0, 1);
                border-radius: 100%;
            }
        }
        .front-cover .cover {
            animation: flow 4s steps(200);
        }
    }

    @media screen and (max-width: 600px) {
        @keyframes flow {
            0% {
                z-index: 1;
                width: 150px;
                height: 150px;
                position: fixed;
                left: -70%;
                top: -50%;
                border: 1000px solid rgba(0, 0, 0, 1);
                border-radius: 100%;
            }
            25% {
                position: absolute;
                left: -150%;
                top: -100%;
                border: 1000px solid rgba(0, 0, 0, 1);
                border-radius: 100%;
            }
            50% {
                position: absolute;
                top: -50%;
                left: -160%;
                width: 150px;
                height: 150px;
                border: 1000px solid rgba(0, 0, 0, 1);
                border-radius: 100%;
            }
            75% {
                position: absolute;
                top: -62%;
                left: -100%;
                width: 150px;
                height: 150px;
                border: 1000px solid rgba(0, 0, 0, 1);
                border-radius: 100%;
            }
            100% {
                z-index: 1;
                width: 1200px;
                height: 1200px;
                position: absolute;
                top: -10%;
                left: -40%;
                border: 0px solid rgba(0, 0, 0, 1);
                border-radius: 100%;
            }
        }
        .front-cover .cover {
            animation: flow 4s steps(200);
        }
    }

    @media screen and (max-width: 414px) {
        @keyframes flow {
            0% {
                z-index: 1;
                width: 150px;
                height: 150px;
                position: fixed;
                left: -170%;
                top: -150%;
                border: 1000px solid rgba(0, 0, 0, 1);
                border-radius: 100%;
            }
            25% {
                position: absolute;
                left: -250%;
                top: -100%;
                border: 1000px solid rgba(0, 0, 0, 1);
                border-radius: 100%;
            }
            50% {
                position: absolute;
                top: -50%;
                left: -200%;
                width: 150px;
                height: 150px;
                border: 1000px solid rgba(0, 0, 0, 1);
                border-radius: 100%;
            }
            75% {
                position: absolute;
                top: -95%;
                left: -180%;
                width: 150px;
                height: 150px;
                border: 1000px solid rgba(0, 0, 0, 1);
                border-radius: 100%;
            }
            100% {
                z-index: 1;
                width: 1200px;
                height: 1200px;
                position: absolute;
                top: -20%;
                left: -140%;
                border: 0px solid rgba(0, 0, 0, 1);
                border-radius: 100%;
            }
        }
        .front-cover .cover {
            animation: flow 4s steps(200);
        }
    }

    @media screen and (max-width: 375px) {
        @keyframes flow {
            0% {
                z-index: 1;
                width: 120px;
                height: 120px;
                position: fixed;
                left: -170%;
                top: -150%;
                border: 1000px solid rgba(0, 0, 0, 1);
                border-radius: 100%;
            }
            25% {
                position: absolute;
                left: -250%;
                top: -120%;
                border: 1000px solid rgba(0, 0, 0, 1);
                border-radius: 100%;
            }
            50% {
                position: absolute;
                top: -80%;
                left: -240%;
                width: 120px;
                height: 120px;
                border: 1000px solid rgba(0, 0, 0, 1);
                border-radius: 100%;
            }
            75% {
                position: absolute;
                top: -110%;
                left: -200%;
                width: 120px;
                height: 120px;
                border: 1000px solid rgba(0, 0, 0, 1);
                border-radius: 100%;
            }
            100% {
                z-index: 1;
                width: 1200px;
                height: 1200px;
                position: absolute;
                top: -20%;
                left: -140%;
                border: 0px solid rgba(0, 0, 0, 1);
                border-radius: 100%;
            }
        }
        .image .cover {
            animation: flow 4s steps(200);
        }
    }

    @media screen and (max-width: 320px) {
        @keyframes flow {
            0% {
                z-index: 1;
                width: 100px;
                height: 100px;
                position: fixed;
                left: -200%;
                top: -200%;
                border: 1000px solid rgba(0, 0, 0, 1);
                border-radius: 100%;
            }
            25% {
                position: absolute;
                left: -300%;
                top: -150%;
                border: 1000px solid rgba(0, 0, 0, 1);
                border-radius: 100%;
            }
            50% {
                position: absolute;
                top: -100%;
                left: -250%;
                width: 120px;
                height: 120px;
                border: 1000px solid rgba(0, 0, 0, 1);
                border-radius: 100%;
            }
            75% {
                position: absolute;
                top: -140%;
                left: -250%;
                width: 120px;
                height: 120px;
                border: 1000px solid rgba(0, 0, 0, 1);
                border-radius: 100%;
            }
            100% {
                z-index: 1;
                width: 1200px;
                height: 1200px;
                position: absolute;
                top: -20%;
                left: -140%;
                border: 0px solid rgba(0, 0, 0, 1);
                border-radius: 100%;
            }
        }
        .front-cover .cover {
            animation: flow 4s steps(200);
        }
    }

    @keyframes caret {
        0% {
            width: 12%;
            position: absolute;
            top: 68%;
            left: 41%;
        }
        50% {
            width: 12%;
            position: absolute;
            top: 68%;
            left: 42%;
        }
        100% {
            width: 12%;
            position: absolute;
            top: 68%;
            left: 41%;
        }
    }
    .bee {
        animation: caret 1s infinite;
    }
}